<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>tea-timer-rkt</string>
	<key>connections</key>
	<dict>
		<key>3DA60425-9FC0-4DCB-BF39-515396DF1FBC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>86C023E0-C31E-4E40-AE6A-C6EC43332584</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BC1F3CD5-931C-4C84-B087-3563C89B340E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BC1F3CD5-931C-4C84-B087-3563C89B340E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CDC2E5D9-63CB-4438-8046-CD6F51E35F4C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dan Frumin</string>
	<key>description</key>
	<string>A simple tea timer for Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Tea timer</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Timer for {query} seconds has started</string>
				<key>title</key>
				<string>Timer started</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>86C023E0-C31E-4E40-AE6A-C6EC43332584</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>tea</string>
				<key>runningsubtext</key>
				<string>...</string>
				<key>script</key>
				<string>#!/bin/bash
/usr/bin/ruby timer.rb "{query}"
</string>
				<key>title</key>
				<string>Tea timer</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3DA60425-9FC0-4DCB-BF39-515396DF1FBC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<true/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Timer finished</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>CDC2E5D9-63CB-4438-8046-CD6F51E35F4C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>118</integer>
				<key>script</key>
				<string>sleep ({query})
puts "Timer done!"</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BC1F3CD5-931C-4C84-B087-3563C89B340E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>3DA60425-9FC0-4DCB-BF39-515396DF1FBC</key>
		<dict>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>86C023E0-C31E-4E40-AE6A-C6EC43332584</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>BC1F3CD5-931C-4C84-B087-3563C89B340E</key>
		<dict>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>CDC2E5D9-63CB-4438-8046-CD6F51E35F4C</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://githib.com/co-dan</string>
</dict>
</plist>
